* {
	-webkit-box-sizing: border-box; /* iOS <= 4 i Android <= 2.3 */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box; /* Chrome, Opera, Safari 5+ i IE 8+ */
}
.container {
	max-width: 1200px;
	width: 100%;/*RWD*/
	margin: 0 auto;
	padding: 0;	
}
body {
	margin: 0;
	font-family: 'Roboto Slab', serif;	
}
body header, footer {
	width: 100%;
	height: 50px;
	background-color:#313234;
	text-align: center;
	line-height: 50px;
	color: white;
}
header {
	position: fixed;
	width: 100%;
	z-index: 1000000;
}
nav{
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	
}
nav>ul>li{
	list-style: none;
	text-align: center;
	display:inline-block;
	width: 150px;
	height: 50px;
}
nav ul li:hover {
	background-color: #4c4e56;
}
nav ul>li>a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 50px;
	height: 50px;	
}
.btn.hide, .btn.open-menu{
	display: none;
}
.hero {
	background-image: url('images/hero1.jpg');
	height: 100vh;	
	width: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: bottom;/*RWD*/
}
.slogan {
	float: right;
	max-width: 800px;
	width: 700px;
	color: #fff;
	font-size: 30px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 100px;
	padding: 0 50px 0;
	display: none;	
}
.slogan h1{
	line-height: 200px;
	margin:0;
	font-family: 'Lemonada', cursive;
}
.row:before, 
.row:after { 
	content:"";
	display: table; 
	clear: both;
}
[class*="col-"] { 
	float: left; 
	min-height: 1px; 
	padding: 5px;	
}
.col-1 {width: 8.33%;} 
.col-2 {width: 16.66%;} 
.col-3 {width: 25%;} 
.col-4 {width: 33.33%;} 
.col-5 {width: 41.66%;} 
.col-6 {width: 50%;} 
.col-7 {width: 58.33%;} 
.col-8 {width: 66.66%;} 
.col-9 {width: 75%;} 
.col-10 {width: 83.33%;} 
.col-11 {width: 91.66%;} 
.col-12 {width: 100%;}
.col-offset-0 {margin-left: 0;} 
.col-offset-0-25 {margin-left: 2.78%}
.col-offset-1 {margin-left: 8.33%;} 
.col-offset-2 {margin-left: 16.66%;} 
.col-offset-3 {margin-left: 25%;} 
.col-offset-4 {margin-left: 33.33%;} 
.col-offset-5 {margin-left: 41.66%;} 
.col-offset-6 {margin-left: 50%;} 
.col-offset-7 {margin-left: 58.33%;} 
.col-offset-8 {margin-left: 66.66%;} 
.col-offset-9 {margin-left: 75%;} 
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.aboutme {
	background-color: grey;
	color: white;
}
.aboutme img{
	margin-top: 20px;
	box-shadow: 10px 10px .5px rgba(0, 0, 0, 0.2);
	max-width: 100%; /*RWD*/
	height: auto;  /*RWD*/
}
.aboutme article {
	padding-left: 100px;
	text-align: justify;
}
.aboutme article p{
	padding-top: 10px;
}
.aboutme article p a{
	text-decoration: none;
	color: white;
}
.aboutme .contact ul b {
	text-transform: uppercase;
}
.aboutme .contact ul a {
	text-decoration: none;
	color: white;
}
.cv, .myskills, .project {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;	
}
h3, h2 {
	text-align: center;
	text-transform: uppercase;	
}
.cv .addborder {
	border: 5px solid #ededed;
	border-top: none;
}
.education .addborder:first-child, .job .addborder:first-child {
	border-top: 5px solid #ededed;
}
.cv .addborder:hover {
	background-color: #edd35e;
}	
.education a {
	color: black;
}
p.img-caption {
	font-size: 10px;
	padding: 0;
	margin: 0;
}
p.img-caption a {
	color: white;
}
.myskills .container-skillbars {
	width: 100%;
	background-color: #ddd;
}
.skills {
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; 
}
.tech-skill{
	padding: 10px;
}
.eng {width: 70%; background-color: #4CAF50;} /* Green */
.ger {width: 40%; background-color: #2196F3;}/* Blue */
.myskills .col-6 {
	padding: 10px 3px;
}
.myskills .col-6>div{
	border: 2px solid #ededed;
	padding: 15px;
}
.project .project1{
	background-image: url("images/project1.jpg"); 	
}
.project .project2{
	background-image: url("images/project2.jpg"); 
}
.project .project3{
	background-image: url("images/project3.jpg"); 
}
.project .project4{
	background-image: url("images/project4.jpg"); 
}
.project .project5{
	background-image: url("images/project5.jpg"); 
}
.project .style-project{
	background-size: cover;
	height: 140px;
	border: solid #ededed 5px; 
	padding: 0;
}
.project .layer{
	background:rgba(0,0,0,0.5);
	line-height:30px;
	height: 100%;
	width: 100%;
	padding: 0 5px;
	margin: 0;
	color: white;
	font-size: 18px;
	display: none;
}
.project a {
	text-decoration: none;
}
.project .style-project:hover .layer{
	display: block;
}
.hobby {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	background-image: url("images/imagination_min.jpg");
	padding: 10px;
	padding-bottom: 30px;
}
.hobby-desc {
	background-color: rgb(255, 255, 255, 0.5);
	margin-bottom: 10px;
}
.hobby .gallery {
	height: 523px;
	width: 400px;
	border: solid #ededed 2px;
	padding: 0;
	margin: 0 auto;  /*object is in the center of the website*/
	overflow: hidden;
}
.gallery > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 1200px;
}
.gallery > ul li {
	float: left;
	background-size: 100%;
}
.gallery .bookgirl {
	background-image: url("images/bookgirl_min.jpg");
	height: 523px;
	width: 400px;
}
.gallery .dog {
	background-image: url("images/dog_min.jpg");
	height: 523px;
	width: 400px;
}
.gallery .forest {
	background-image: url("images/forest_min.jpg");
	height: 523px;
	width: 400px;
}
.contact {

	margin: 0;
	padding: 20px;
	background-color: #f3f3f3;
}
form{
	width: 70%;
	margin: 0 auto;
	text-align: center;	
	background-color:#fff; 
    border:2px solid #ccc; 
    border-radius:10px; 
	padding:10px;
}
form h3{
	color:#555555;
	margin: 5px;
}
form label{
	display: block;
    margin-bottom:2px;
    font-weight:bold; 
    text-transform: uppercase; 
    font-size:12px; 
    color:#555555;
}
form textarea, form input {
	
	padding:2px; 
	border-radius:3px; 
	border:1px solid #ccc; 
	margin-bottom:10px; 
	width:50%; 
}
form input.submit {
	width:50%; 
	cursor:pointer; 
	margin-bottom:0px;
	background-color: #ccc;
}
p#msg_success {
	text-align: center;
	color: green;
	display: none;
}
p#msg_fail {
	text-align: center;
	color: red;
	display: none;
}
section#contact_to:before, 
section#contact_to:after { 
	content:"";
	display: table; 
	clear: both;
}
@media (max-width: 936px){
    /* For tablets, mobiles: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;
	}
	[class*="col-"] { 
		float: left; 
		min-height: 1px; 
		padding: 5px;
		text-align: center;
	}
    .col-offset-s-0 {margin-left: 0;}
    .col-offset-s-0-5 {margin-left: 4.16%;}
    .col-offset-s-1 {margin-left: 8.33%;}
    .col-offset-s-3-5 {margin-left: 29.16%;
	}
	nav {
		display:none;
		margin:0;
		top:0;
		background: #313234;
		width:100%;
		padding: 0;
	}
	nav.show {
		display:block;
		width: 150px;
		top: 50px;
	}
	nav ul li{
		display: block;
	}
    .btn {
      width:100%;
      float:none;
      padding: 0;
      margin:5px 0;
      border-radius:0;
	  color: white;
    }
	.open-menu{
		text-align: right;
		padding-right: 50px;
		line-height: 40px;
		cursor: pointer;
	} 
    .btn.hide {display:block;}
    .btn.open-menu {display:block;}
	.hero {
		background-image: url('images/hero2.jpg');
	}
	.slogan {
		padding-left: 30px;
		max-width: 90vw;
	}
	
	.aboutme article {
		padding-left: 5px;
	}
	.project .layer{
		display: block;
	}
	.style-project {
		margin-bottom: 10px;
	}
	.hobby .gallery {
		height: 261px;
		width: 200px;
	}
	.gallery .bookgirl {
		width: 200px;
	}
	.gallery .dog {
		width: 200px;
	}
	.gallery .forest {
		width: 200px;
	}	
}