.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

body {
	margin: 0;
	font-family:'Open Sans', sans-serif;
}
header {
	height: 50px;
	background-color:#313234;
}
nav ul{
	margin: 0;
	padding: 0;
	float: right;
}
nav ul li{
	list-style: none;
	text-align: center;
	display:inline-block;
	width: 150px;
	height:50px;
}
nav ul li:hover {
	background-color: grey;
}
nav ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 50px;
	
}

.hero {
	background-image: url('hero1.jpg');
	height: 500px;
	width: auto;
	margin: 0;
	padding: 0;
	background-size: cover;
}
.slogan {
	float: right;
	max-width: 800px;
	height: 200px;
	width: 600px;
	color: #fff;
	font-size: 60px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 100px;
	padding: 0;
}
.slogan h1{
	line-height: 200px;
}
